name: EAS Build
on:
  push:
    branches: [ feature/unit-test ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'
          
      - run: npm ci
      
      - name: Build with EAS using token
        run: |
          npx @expo/eas-cli@latest whoami --token "${{ secrets.EAS_TOKEN }}"
          npx @expo/eas-cli@latest build --platform android --profile preview --non-interactive --token "${{ secrets.EAS_TOKEN }}"